[submodule "tcc"]
	path = tcc
	url = git@github.com:VictorMarcolino/document-tcc.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = git@github.com:VictorMarcolino/controlio-app.git
	branch = main
[submodule "backend"]
	path = backend
	url = git@github.com:VictorMarcolino/controlio-backend.git
	branch = master
